<main class="min-h-screen">
  <p-confirmDialog></p-confirmDialog>
  <app-dashboard-header (menuToggle)="toggleSideMenu()"></app-dashboard-header>
  <app-dashboard-side-menu #sideMenu></app-dashboard-side-menu>

  <section class="container mx-auto">
    <div class="card bg-blue-50 shadow-lg p-3 rounded-lg mt-24">
        <p-table [value]="users" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading"
            [paginator]="true" [globalFilterFields]="['firstName', 'lastName', 'status']"
            styleClass="text-black" #dt1>
            <ng-template pTemplate="caption">
                <div class="flex">
                    <p-button label="Clear" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(dt1)" />
                    <p-iconfield iconPosition="left" class="ml-auto">
                        <p-inputicon>
                            <i class="pi pi-search"></i>
                        </p-inputicon>
                        <input pInputText type="text" [(ngModel)]="searchValue" (input)="dt1.filterGlobal(searchValue, 'contains')" placeholder="Search keyword" />
                    </p-iconfield>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width:15rem">
                        <div class="flex items-center">
                          Name
                          <!-- <p-columnFilter type="text" field="name" display="menu" /> -->
                        </div>
                    </th>
                    <th style="min-width:15rem">
                        <div class="flex items-center">
                          Date Of Birth
                          <!-- <p-columnFilter type="text" field="dateOfBirth" display="menu" /> -->
                        </div>
                    </th>
                    <!-- <th style="min-width:15rem">
                        <div class="flex items-center">
                            Agent
                            <p-columnFilter field="representative" matchMode="in" display="menu"
                                [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                                <ng-template pTemplate="filter" let-filter="filterCallback">
                                    <p-multiSelect [(ngModel)]="selectedRepresentative" [options]="representatives" placeholder="Any"
                                        (onChange)="filter($event.value)" optionLabel="name" [style]="{ 'min-width': '14rem' }"
                                        [panelStyle]="{ minWidth: '16rem' }">
                                        <ng-template let-option pTemplate="item">
                                            <div class="flex items-center gap-2">
                                                <img [alt]="option.label"
                                                    src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ option.image }}"
                                                    style="width: 32px" />
                                                <span>{{ option.name }}</span>
                                            </div>
                                        </ng-template>
                                    </p-multiSelect>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th> -->
                    <th style="min-width:10rem">
                      <div class="flex items-center">
                        date of joining
                        <!-- <p-columnFilter type="text" field="dateOfJoining" display="menu" /> -->
                      </div>
                    </th>
                    <!-- <th style="min-width:10rem">
                        <div class="flex items-center">
                            Balance
                            <p-columnFilter type="numeric" field="balance" display="menu" currency="USD" />
                        </div>
                    </th> -->
                    <th style="min-width:10rem">
                        <div class="flex items-center">
                            Role
                            <!-- <p-columnFilter field="Role" matchMode="equals" display="menu">
                                <ng-template pTemplate="filter" let-filter="filterCallback">
                                    <p-dropdown [(ngModel)]="selectedStatus" [options]="statuses" (onChange)="filter($event.value)"
                                        placeholder="Select One" [style]="{ 'min-width': '12rem' }">
                                        <ng-template let-option pTemplate="item">
                                            <p-tag [value]="option.value"
                                                [severity]="getSeverity(option.value)"></p-tag>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter> -->
                        </div>
                    </th>
                    <!-- <th style="min-width:10rem">
                        <div class="flex items-center">
                            Activity
                            <p-columnFilter field="activity" matchMode="between" display="menu" [showMatchModes]="false"
                                [showOperator]="false" [showAddButton]="false">
                                <ng-template pTemplate="filter" let-filter="filterCallback">
                                    <p-slider [(ngModel)]="selectedActivityRange" [range]="true" styleClass="m-4"
                                        (onSlideEnd)="filter($event.values)" />
                                    <div class="flex items-center px-2">
                                        <span *ngIf="!selectedActivityRange">0</span>
                                        <span *ngIf="selectedActivityRange">{{ selectedActivityRange[0] }} - {{ selectedActivityRange[1] }}</span>
                                    </div>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th> -->
                    <th style="width: 3rem">
                        <div class="flex items-center">
                          Action
                          <!-- <p-columnFilter type="boolean" field="action" display="menu" /> -->
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>
                        {{ user.firstName + ' ' + user.lastName }}
                    </td>
                    <!-- <td> -->
                        <!-- <div class="flex items-center gap-2">
                            <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                [class]="'flag flag-' + customer.country.code" style="width: 20px" />
                            <span>{{ customer.country.name }}</span>
                        </div> -->
                    <!-- </td> -->
                    <!-- <td> -->
                        <!-- <div class="flex items-center gap-2">
                            <img [alt]="customer.representative.name"
                                src="https://primefaces.org/cdn/primeng/images/demo/avatar/{{ customer.representative.image }}"
                                width="32" />
                            <span>{{ customer.representative.name }}</span>
                        </div> -->
                    <!-- </td> -->
                    <td>
                        {{ user.dateOfBirth | date: 'MM/dd/yyyy' }}
                    </td>
                    <td>
                        {{ user.createdAt | date: 'MM/dd/yyyy' }}
                    </td>
                    <!-- <td>
                        {{ user.balance | currency: 'USD' : 'symbol' }}
                    </td> -->
                    <td>
                      <p-tag [value]="user.isHost?'Host':'Guest'" [severity]="getSeverity(user.isHost?'Host':'Guest')" />
                    </td>
                    <td>
                      <button (click)="DeleteUser(user.id)" class="text-red-400 hover:text-red-600 hover:cursor-pointer hover:scale-110"><i class="fa-solid fa-trash-can"></i></button>
                    </td>
                    <!-- <td>
                        <p-progressBar [value]="user.activity" [showValue]="false" />
                    </td> -->
                    <!-- <td class="text-center">
                        <i class="pi" [ngClass]="{
                        'text-green-500 pi-check-circle': user.verified,
                        'text-red-500 pi-times-circle': !user.verified
                    }"></i>
                    </td> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">No customers found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
  </section>
</main>
